// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin: 0;
}

.source-url-embed {
  margin-top: 20px;
  iframe {
    width: 100%;
    height: 360px;
  }
}

.source-id-embed {
  margin-top: 20px;
  iframe {
    width: 100%;
    height: 360px;
  }
}

.query-result {
  > img {
    display: inline-block;
    vertical-align: middle;
  }

  > div {
    display: inline-block;
    vertical-align: middle;
  }
}
