<script type="text/ng-template" id="customTemplate.html">
  <a class="query-result">
    <img ng-src="{{match.model.thumbnail.url}}" width="100" height="70">
    <div style="display: inline-block">
      <div ng-bind-html="match.label | uibTypeaheadHighlight:query"></div>
      <img ng-src="{{match.model.source.logo}}" height="30">
    </div>

  </a>
</script>

<div class="row">
  <div class="col-lg-12">
    <h1>Video Embed</h1>
    <div class="btn-group">
      <label class="btn btn-default" ng-change="onSourceHookChange('youtube', sourcesModel.youtube)" ng-model="sourcesModel.youtube" uib-btn-checkbox>Youtube</label>
      <label class="btn btn-default" ng-change="onSourceHookChange('vimeo', sourcesModel.vimeo)" ng-model="sourcesModel.vimeo" uib-btn-checkbox>Vimeo</label>
    </div>
    <hr>
  </div>
  <div class="col-lg-6">
    <div class="well">
      <input type="text"
             typeahead-on-select="onResultSelected($item, $model, $label, $event)"
             typeahead-template-url="customTemplate.html"
             ng-model="sourcesModel.asyncSelected"
             uib-typeahead="video as video.title for video in execQuery($viewValue)"
             typeahead-loading="loadingResults"
             typeahead-no-results="noResults"
             placeholder="Search for something you're interesting in"
             class="form-control">
      <i ng-show="loadingResults" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
      <div ng-show="noResults">
        <i class="fa fa-ban" aria-hidden="true"></i> No Results Found
      </div>
      <source-id-embed ng-if="selectedQueryResult" query-result="selectedQueryResult"></source-id-embed>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="well">
      <input type="text" class="form-control" ng-model="sourcesModel.url" placeholder="Paste a URL here"
             ng-change="onUrlChanged(sourcesModel.url)">
      <source-url-embed ng-if="!!sourceInfo" source-info="sourceInfo"></source-url-embed>
    </div>
  </div>
</div>
